// .noUnderLine {
//     text-decoration: none;
// }


.hover:hover{
     border: 1px solid #1a3457;
    box-shadow: 2px 2px red;
}

.text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

