// empowerImg resize
.empowerImg {
    max-width: 100%;
    height: auto;
  }
  
  // split list-items into 2 columns
  .listSplit {
    columns: 2;
    column-width: auto;
    column-count: 2;
  }
  
  .pageSectionNews {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
  }  