body{
    background-color:grey ;
}
.container {
    background-color: grey;
    width: 50%;
    color: rgb(104, 84, 77);
}

.title {
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
.socialicons {
    display: flex;
    margin-top: 100px;
    a {
        &:after {
            content: "";
            height: 80px;
            z-index: -1;
            position: absolute;
            bottom: -80px;
            left: 0;
            background: linear-gradient(to bottom, rgb(158, 0, 231), rgb(57, 1, 211));
            transition: 0.2s;
        }
    }
    .icon {
        width: 500px;
        height: 100px;
        box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.05);
        margin: 0 30px;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
        text-decoration: none;
        color: rgb(155, 41, 41);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        &:hover {
            color: #fff;
            a{
                &:hover::after {
                bottom: 0;
            }
        }
    }
    }
}
.tab {
    max-width: 800%;
    padding: 0 2em;
    border-radius: 0.5rem;
    background-color:transparent;
    line-height: 4em;
    white-space: nowrap;
    overflow: auto;
    transition: all 0.5s linear;
}

.tab-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-grid;
    grid-gap: 1em;
    transition: color 5s ease-in;
}

.tab-items> :nth-child(1){
    grid-column: 1/2;
}
.tab-items> :nth-child(2){
    grid-column: 2/3;
}
.tab-items> :nth-child(3){
    grid-column: 3/4;
}
.tab-items> :nth-child(4){
    grid-column: 4/5;
}
.tab-items> :nth-child(5){
    grid-column: 5/6;
}

.tab-item{
    display: inline;
    grid-row: 1/2;
}


.tab-item.active .item-link {
    color: rgb(74, 167, 167);
}
.item-link {
    padding: 0 0.75em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: color 256ms
}

.item-link:hover {
    color: black;
    text-decoration: underline;
}

.tab-indicator {
    height: 3px;
    background-color: yellow;
    border-radius: 3px 3px 0 0;
    grid-column: var(--index)/span 1 !important;
    grid-row: 1/2;
    align-self: end;
}
.tab:hover {
    background-color:white;
}
