

.hoverMe:hover .overlay {
  opacity: 1;
  color: #757353;
  box-shadow: 0 0 8px red;
}

.text {
  display: flexbox;
  color: #ff1616;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  display: flexbox;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1a3457;
}


.container {
  display: flexbox;
  flex-direction: row;
}


.rounded-circle {
  position: relative;
  display:flexbox;
  width: 100%;
  border-radius: 50% 50%;
}

.rounded-circle:after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.rounded-circle > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-background {
  background-color: #f0e7e1;
  border: none;
}

.card {
  border: none;
  margin: 20px 20px;
}

.campus-button {
  display: flexbox;
  flex-direction: row;
  position: absolute;
  // float: right;
  // margin-bottom: 30px;
  // margin-right: 20px;
  // margin-left: 60%;
}