.hoverMe:hover .overlay {
  opacity: 1;
  color: #ff1616;
  box-shadow: 0 0 8px #ff1616;
}

.card-text {
  display: flexbox;
  position: absolute;
  color: #1a3457;
  font-size: 16px;
  top: 15%;
  left: 15%;
  -webkit-transform: translate(-15%, -15%);
  -ms-transform: translate(-15%, -15%);
  transform: translate(-15%, -15%);
  text-align: justify;
}

.overlay {
  display: flexbox;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: white;
}


.container {
  display: flexbox;
  flex-direction: row;
}

.card-background {
  background-color: #f0e7e1;
  border: none;
}

.card {
  border: none;
  margin: 20px 20px;
}