.containerBanner {
    background-color: grey;
    width: 50%;
    color: rgb(104, 84, 77);
  }
  .title {
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
  }
