body {
  background-color: #F0E7E1;
}

// mouse-selection in red?
::selection {
  background: #FB3449;
  color: #fff;
}

// save margin as var && nest
.page-section-intro,
.page-section-empower,
.page-section-partners,
.page-section-news {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

// underlines used in body - need to fix up so it actually works
.underline {
  //   margin-bottom: 2rem;
  content: '';
  display: block;
  border-bottom: 2px solid #FB3449;
  margin-top: 1.66667rem;
}

.introElems,
.empowerElems {
  display: flex;
  flex-flow: row;
}

.partnersElems {
  display: flex;
  flex-flow: column;
}

