// need to import these files and
// stash in bootstrap vars or something
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f0e7e1;
  color: #1a3457;
  font-family: "Montserrat", sans-serif;
}

// mouse-selection in red?
::selection {
  background: #fb3449;
  color: #fff;
}

// save margin as var && nest
.page-section-intro,
.page-section-empower,
.page-section-partners,
.page-section-news {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

// underlines used in body - need to fix up so it actually works
.underline {
  //   margin-bottom: 2rem;
  content: "";
  display: inline-block;
  border-bottom: 2px solid #fb3449;
  margin-top: 1.66667rem;
  width: 4.44444rem;
  padding-bottom: 0.8em;
}

.introElems,
.empowerElems {
  display: flex;
  flex-flow: row;
}

.partnersElems {
  display: flex;
  flex-flow: column;
}
