.socialicons {
    margin-top:200px;
    .icon {
      width: 300px;
      height: 100px;
      //margin: 500 300px;
      padding-left: 7rem;
      text-align: center;
      line-height: 10px;
      font-size: 40px;
      text-decoration: none;
      color: white;
      overflow: hidden;
      position: relative;
      &:hover {
        color: rgb(17, 16, 16);
        a {
          &:hover::after {
            bottom: 0;
          }
        }
      }
    }
  }
  .tab {
    max-width: 800%;
    //padding: 0 2em;
    border-radius: 0.5rem;
    background-color: transparent;
    line-height: 4em;
    white-space: nowrap;
    overflow: auto;
    transition: all 0.5s linear;
  }
  .tab-items {
    //margin: 0;
    //padding: 0;
    list-style: none;
    display: inline-grid;
    grid-gap: 1em;
    transition: color 5s ease-in;
  }
  .tab-items > :nth-child(1) {
    grid-column: 1/2;
  }
  .tab-items > :nth-child(2) {
    grid-column: 2/3;
  }
  .tab-items > :nth-child(3) {
    grid-column: 3/4;
  }
  .tab-items > :nth-child(4) {
    grid-column: 4/5;
  }
  .tab-items > :nth-child(5) {
    grid-column: 5/6;
  }
  .tab-item {
    display: inline;
    grid-row: 1/2;
  }
  .tab-item.active .item-link {
    color: rgb(74, 167, 167);
  }
  .item-link {
    //padding: 0 0.75em;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: color 256ms;
  }
  .item-link:hover {
    color: black;
    text-decoration: underline;
  }
  .tab-indicator {
    height: 3px;
    background-color: yellow;
    border-radius: 3px 3px 0 0;
    grid-column: var(--index) / span 1 !important;
    grid-row: 1/2;
    align-self: end;
  }
  .tab:hover {
    background-color: white;
  }
  .wrapper {
    //background-image: url(../images/social_media/Linkedin_Banner_social_media.png);
    background-color: black;
    width: 1560px;
    height: 390px;
    //margin-top: 15rem;
    //margin-left: 1rem;
    //margin-bottom: 1rem;
  }