.socialicons {
  margin-top:50px;
  text-align: center;

    .icon {
      width: 300px;
      height: 100px;
      //margin: 500 300px;
      padding-left: 5rem;
      text-align: center;
      line-height: 10px;
      font-size: 40px;
      text-decoration: none;
      color: #FF1616;
      overflow: hidden;
      position: relative;
      &:hover {
        color: #1A3457;
        a {
          &:hover::after {
            bottom: 0;
          }
        }
      }
    }
  }
  
  .background-image {
    background-image: url(../images/background/footer_background.png);
    background-size:cover ;
    margin-top: 20px;  
  }

 .text {
    padding: 10px 10px;
  }

  .footer-logo {
    position: relative;
    display:flexbox;
    width: 100%;
    height: 100%;

  }